@charset "utf-8";

body{
    font-family: sans-serif;
   
    justify-content: end;
    align-items: start;
    height: 100vh;
    margin: 0;
    background-color: #79927d;
    transition: backgroud-color 0.5s ease;
    padding: 30px;
}

.toggle-btn{
    display: none; 
} 

.toggle-label{
    width: 60px;
    height: 30px;
    background-color: #939396;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    display: block;
}

.toggle-label:before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #12ccec;
    top: 1px;
    left: 1px;
    transition: transform 0.4s ease;
}

.toggle-btn:checked + .toggle-label{
    background-color: #111111;
}

.toggle-btn:checked + .toggle-label:before{
    transform: translateX(30px);
}

.dark{
    background-color:#e9db9c ;
}

footer{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}